# Unnecessary coding files
solver_data/*
results/*
outdated/*
database/*
pairseq-data/*
venv/*

pairseq-data.tgz

# Things that don't need to be committed
*.p
*.swp
*.lprof
*.swo
*.png
*.pyc
*.out
*.eps

# Python testing files
.test.py

# Python build files
build/*
dist/*
madhype.egg-info/*
