# Unnecessary coding files
solver_data/*
results/*
outdated/*
pairseq-data/*

pairseq-data.tgz

# Things that don't need to be committed
*.swp
*.lprof
*.swo
*.png
*.pyc
*.out

# Python testing files
.test.py

# Python build files
build/*
dist/*
madhype.egg-info/*
